@model int

<h3>Reset Password</h3>

<form method="post">
    <input type="hidden" name="id" value="@Model" />

    <label>New Password</label>
    <input type="password" class="form-control" name="newPassword" required />

    <br />
    <button class="btn btn-warning">Reset</button>
</form>
