@model Carzi.Models.FuelType

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Add Fuel</h3>

<form asp-action="Create" method="post">

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PricePerLiter">Price (€ / liter)</label>
        <input asp-for="PricePerLiter" type="number" step="0.01" class="form-control" />
        <span asp-validation-for="PricePerLiter" class="text-danger"></span>
    </div>

    <button class="btn btn-success">Add</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}