<h3>Create User</h3>

<form method="post">
    <label>Username</label>
    <input class="form-control" name="username" required />

    <label>Email</label>
    <input class="form-control" name="email" required />

    <label>Password</label>
    <input type="password" class="form-control" name="password" required />

    <label>Role</label>
    <select class="form-control" name="role">
        <option>User</option>
        <option>Admin</option>
    </select>

    <br />
    <button class="btn btn-success">Create</button>
</form>
