@model Carzi.Models.User

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Edit User</h3>

<form method="post">
    <div class="mb-3">
        <label>Username</label>
        <input class="form-control" name="username" value="@Model.Username" />
    </div>

    <div class="mb-3">
        <label>Role</label>
        <select class="form-control" name="role">
            <option selected="@("User" == Model.Role)">User</option>
            <option selected="@("Admin" == Model.Role)">Admin</option>
        </select>
    </div>

    <br>
    <button class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
