@model Carzi.Models.User

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Edit User</h3>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control">
            <option>User</option>
            <option>Admin</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">Update</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}