@model int

@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h3>Reset Password</h3>

<form asp-action="ResetPassword" method="post">

    <input type="hidden" name="id" value="@Model" />

    <div class="mb-3">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" />
        <span class="text-danger">@Html.ValidationMessage("Password")</span>
    </div>

    <button class="btn btn-warning">Reset</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}